.container-principal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    width: 100%;

    .tool-bar {
        display: flex;
        justify-content: space-between;
        height: 32px;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid var(--borderColor-default, #3D444D);

        p {
            color: var(--text-color-third, #9198A1);
            font-size: var(--Caption, 12px);
            font-weight: 400;
        }

        button {
            //cursor: ;
            width: 32px;
            height: 32px;
            border-radius: 4px;
            border: 1px solid var(--button-default-borderColor-rest, #3D444D);
            background: var(--button-default-bgColor-rest, #212830);
        }
    }

    .profile {
        display: flex;
        gap: 16px;
        height: fit-content;
        animation: subirFade .6s ease-out forwards;

        .avatar {
            img {
                user-select: none;
                height: 107px;
            }
        }

        .info-user {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .user-name {
                margin: 0;
                color: var(--text-color-primary, #FFF);
                font-size: var(--Ttulo-Large, 32px);
                font-weight: 400;
            }

            .categorys {
                display: flex;
                gap: 12px;
                align-items: center;

                img {
                    height: 12px;
                    max-height: 12px;
                }

                label {
                    color: var(--text-color-secondary, #8B949E);
                    font-size: var(--Body-Medium, 14px);
                    font-weight: 400;
                }
            }
        }

    }

    .principal-projeto {
        display: flex;
        padding: var(--Space-16px, 16px);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--Space-8px, 8px);
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid var(--borderColor-default, #3D444D);
        animation: subirFade .6s ease-out forwards;
        animation-delay: .12s;

        .first-content {
            display: flex;
            align-items: flex-start;
            gap: var(--Space-8px, 8px);
            align-self: stretch;

            .avatar {
                display: flex;
                width: 52px;
                height: 52px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                aspect-ratio: 1/1;
                border-radius: 4px;
                border: 1px solid var(--borderColor-default);
                user-select: none;
                overflow: hidden;

                img {
                    height: 100%;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--Space-4px, 4px);
                flex: 1 0 0;

                p {
                    margin: 0;
                    color: var(--text-color-primary, #FFF);
                    font-size: var(--Ttulo-Small, 16px);
                    font-weight: 400;
                }

                .subtitle {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: 6px;

                    p {
                        color: var(--text-color-secondary, #8B949E);
                        font-size: var(--Body-Small, 12px);
                        font-weight: 400;
                    }
                }
            }

            .svg {
                height: 16px;
                width: 16px;
            }
        }

        a {
            display: flex;
            height: 40px;
            padding: 0 12px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius: var(--Space-4px, 4px);
            border: 1px solid var(--button-default-borderColor-rest, #3D444D);
            background: var(--button-default-bgColor-rest, #212830);
            transition: .5s ease-in-out;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                background-color: var(--gray-8);
            }

            p {
                margin: 0;
                color: var(--text-color-primary, #FFF);
                font-size: var(--Caption, 12px);
            }

        }
    }

    .menus {
        display: flex;
        padding: 16px;
        flex-direction: column;
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--borderColor-default, #3D444D);
        animation: subirFade .6s ease-out forwards;
        animation-delay: .24s;

        mat-expansion-panel {
            width: 100%;
            background: transparent;
            box-shadow: none;
            border: none;
        }

        mat-expansion-panel-header {
            height: 40px;
            border-radius: 4px;
            border: 1px solid var(--button-default-borderColor-rest, #3D444D);
            background: var(--button-default-bgColor-rest, #212830);
            color: var(--text-color-primary, #FFF);
            font-family: Inter, sans-serif;
            font-size: 12px;
            font-weight: 400;
            padding: 0 12px;

            // alinha o título à esquerda e a seta à direita
            display: flex;
            justify-content: space-between;
            align-items: center;

            button[mat-icon-button] {
                margin-left: auto;
                color: var(--text-color-secondary, #8B949E);
            }
        }

        .item {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 12px;
            height: 40px;
            border-top: 1px solid var(--button-default-borderColor-rest, #3D444D);
            font-size: 12px;
            color: var(--text-color-secondary, #8B949E);

            &:first-child {
                border-top: none;
            }

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                color: inherit;
                text-decoration: none;

                mat-icon {
                    font-size: 16px;
                }

                &:hover {
                    color: var(--text-color-primary, #FFF);
                }
            }
        }
    }

    .social-medias {
        display: flex;
        gap: 8px;

        a {
            display: flex;
            max-width: 32px;
            max-height: 32px;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            border: 1px solid var(--button-default-borderColor-rest, #3D444D);
            background: var(--button-default-bgColor-rest, #212830);
        }
    }

    .footer {
        display: flex;
        padding: var(--Space-16px, 16px);
        justify-content: space-between;
        border-top: 1px solid var(--borderColor-default, #3D444D);
        animation: subirFade .6s ease-out forwards;
        animation-delay: .36s;

        p {
            margin: 0;
            padding: 0;
            color: var(--text-color-third, #9198A1);
            font-size: var(--Caption, 12px);
            font-weight: 400;
        }
    }
}

@keyframes subirFade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 500px) {
    .container-principal {
        max-width: 400px;
        padding: 0 20px;
        overflow: hidden;
        width: 100%;

        .tool-bar,
        .profile,
        .menus,
        .principal-projeto,
        .first-content,
        a,
        .item {
            width: 100% !important;

            .categorys {
                align-items: flex-start !important;

                img {
                    margin-top: 5px;
                }
            }
        }

        .social-medias {
            display: none;
        }
    } 
}