.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  //background: #333;
  background-color: var(--red-6);
  color: #fff;
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  font-size: 14px;
  z-index: 10000;
}
