:root {
  /* Blue */
  --blue-0: #DDF4FF;
  --blue-1: #B6E3FF;
  --blue-2: #80CCFF;
  --blue-3: #54AEFF;
  --blue-4: #218BFF;
  --blue-5: #0969DA;
  --blue-6: #0550AE;
  --blue-7: #033D8B;
  --blue-8: #0A3069;
  --blue-9: #002155;

  /* Gray */
  --gray-0: #F6F8FA;
  --gray-1: #EAEEF2;
  --gray-2: #D0D7DE;
  --gray-3: #AFB8C1;
  --gray-4: #8C959F;
  --gray-5: #6E7781;
  --gray-6: #57606A;
  --gray-7: #424A53;
  --gray-8: #32383F;
  --gray-9: #24292F;

  --borderColor-default: #3D444D;
  --button-default-bgColor-rest: #2A313C;
  --button-default-bgColor-hover: #212830;
  --button-default-bgColor-active: #262C36;
  --button-default-borderColor-rest: #3D444D;

  --text-color-secondary: #8B949E;
  --text-color-primary: #FFFFFF;
  --text-color-third: #9198A1;

  /* Green */
  --green-0: #DAFBE1;
  --green-1: #ACEEBB;
  --green-2: #6FDDB8;
  --green-3: #4AC26B;
  --green-4: #2DA44E;
  --green-5: #1A7F37;
  --green-6: #116329;
  --green-7: #044F1E;
  --green-8: #003D16;
  --green-9: #002D11;

  /* Red */
  --red-0: #FFEBE9;
  --red-1: #FFCECB;
  --red-2: #FFABA8;
  --red-3: #FF8182;
  --red-4: #FA4549;
  --red-5: #CF222E;
  --red-6: #A40E26;
  --red-7: #82071E;
  --red-8: #660018;
  --red-9: #4C0014;

  /* Yellow */
  --yellow-0: #FFF8C5;
  --yellow-1: #FAE17D;
  --yellow-2: #EAC54F;
  --yellow-3: #D4A72C;
  --yellow-4: #BF8700;
  --yellow-5: #9A6700;
  --yellow-6: #7D4E00;
  --yellow-7: #633C01;
  --yellow-8: #4D2D00;
  --yellow-9: #3B2300;
}

body {
  background-color: #050505;
  display: flex;
  height: 98vh;
  align-items: center;
  justify-content: center;
  color: var(--text-color-third);
  font-family: Inter;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
}

body,
html {
  background-color: #050505;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}